site_name: OptVL Docs

## Repository
repo_name: optvl
repo_url: https://github.com/joanibal/OptVL
edit_uri: https://github.com/joanibal/OptVL/edit/main/docs

nav:
  - Home: index.md
  - Installation:
      - installation.md
  - Usage:
      - usage.md
      - analysis.md
      - parameter_sweeps.md
      - optimization.md
      
  # defer to gen-files + literate-nav
  - Code Reference: reference/  

watch:
  - pyavl

theme:
  name: material

## Plugins
plugins:
  - search:
      # This mess was copied from the example website
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - gen-files:
      scripts:
      - docs/gen_ref_pages.py  # 
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
  - literate-nav:
      nav_file: SUMMARY.md
      
markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 1-3
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
